.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container {
  margin: 0 auto;
  width: 70%;
}

.userTable {
  width: 100%;
  border: 1px solid #d3d3d3;
  border-collapse: collapse;
  color: #626466;
  text-align: left;
}

.userTable tr:hover{
  background-color: #E7FCFE;
  color: #000000;
  font-weight: 700;
}

.userTable__header {
  background-image: linear-gradient(#fff, #efefef);
}
.userTable__header tr {
  height: 40px;
}
.userTable__col-0,
.userTable__col-1,
.userTable__col-2{
  border:1px solid #d3d3d3;
}
.userTable__col-0{
  text-align: center;
  width: 40px;
}

.userTable__user-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
}